.leftContainer,
.centerContainer,
.rightContainer {
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  columns: 1;
  column-gap: 0px;
  padding: 20px;
  width: 100%;
}

.product-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 15px;
  display: inline-block;
  width: 90%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.center-content {
  max-width: 800px;
}

.center-content h2 {
  margin: 6rem 0 10px 0;
  text-align: center;
}

.add-product-button {
  top: 120px;
  left: 25px;
  position: relative;
  color: white;
  background-color: #323232;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.card-actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.hidden {
  transition: 0.6s;
}

.principalInfo {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.upperSection {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  columns: 1;
  width: 100%;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}

.product-price {
  font-weight: bold;
  color: #666;
}

.downSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.size-selector-container {
  flex: 1;
}


.size-btn {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.size-btn.selected {
  background-color: #323232;
  color: white;
  border-color: #323232;
}

.color-selector,
.size-selector {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.color-option {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-option:hover {
  transform: scale(1.2);
}

.color-option.selected-color::after {
  content: '';
  position: absolute;
  inset: -3px;
  border: 2px solid #000;
  border-radius: 50%;
}

.favorite-button {
  position: absolute !important;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  transition: transform 0.3s ease;
}

.favorite-button:hover {
  transform: scale(1.1);
}

.content-title {
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .product-card {
    width: 90%;
  }

  .product-list {
    columns: 2;
    column-gap: 10px;
    padding: 0px;
    margin-left: 10px;
  }

  .upperSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .add-product-button {
    top: 3rem;
    left: 1rem;
  }
}