html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }

/* Estilo para el modo oscuro */
body.dark-mode {
  background-color: rgb(10 10 10);
  color: #ffffff;
}

.header.dark-mode {
  background-color: #1f1f1f;
}